.login-pg-container{
    background-color: #fff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}
.login-page-img{
    width: 40%;
    height: 100%;
}
.login-container{
    background-color: #fff;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-align: center;
}
.login-main-heading{
    color: #303;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bolder;
}
.login-card{
    background-color: #fff;
    padding: 30px;
    width: 40%;
    box-shadow: #EFEBE9 6px 8px 6px 8px;
    border-radius: 8px;
}
.input-container{
    display: flex;
    flex-direction: column;
    margin: 8px;
    text-align: left;
}
.input-box{
    margin: 5px;
    padding: 8px;
    border: #616161 solid 2px;
    border-radius: 4px;
}
.login-btn{
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: #1E88E5;
    width: 120px;
    padding: 8px;
    border: none;
    border-radius: 6px;
}
.error-msg{
    color: red;
    font: 1em sans-serif;
}